* {
	font-family: JetBrainsMono Nerd Font
}

window#waybar {
	background-color: transparent;
	padding: 0px 0px;
	/* border-radius: 3px */
}

#workspaces button {
	color: #BCBAEC;
}

#workspaces {
	background-color: #0F0F11;
	border-radius: 3px;
	color: #eb6f92;
	padding: 0px 8px;
}

#cpu {
	background-color: #0F0F11;
	border-radius: 3px;
	color: #BCBAEC;
	padding: 0px 8px;
}

#memory {
	background-color: #0F0F11;
	border-radius: 3px;
	color: #BCBAEC;
	padding: 0px 8px;
}

#temperature {
	background-color: #0F0F11;
	border-radius: 3px;
	color: #f6c177;
	padding: 0px 8px;
}

#window {
	background-color: #0F0F11;
	border-radius: 3px;
	color: #9ccfd8;
	padding: 0px 8px;
}

#mpd {
	margin-right: 13px;
	background-color: #0F0F11;
	border-radius: 3px;
	color: #ea9a97;
	padding: 0px 8px;
}

#pulseaudio {
	margin: 0px 0px;
	background-color: #0F0F11;
	color: #E49BA2;
	padding: 0px 8px;
}

#language {
	background-color: #0F0F11;
	border-radius: 3px;
	color: #f6c177;
	padding: 0px 8px;
}

#clock {
	background-color: #0F0F11;
	border-radius: 3px;
	color: #9ccfd8;
	padding: 0px 8px;
}

#network {
	background-color: #0F0F11;
	color: #BCBAEC;
	padding: 0px 8px;
}

#battery {
	margin: 0px 0px;
	background-color: #0F0F11;
	color: #f6c177;
	padding: 0px 8px;
}

#custom-lock{
	background-color: #0F0F11;
	border-radius: 3px;
	color: #BCBAEC;
	padding: 0px 8px;
}
